<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= locals.title %></h1>
    <button class="folder-create-open">New Folder</button>
    <button class="file-upload-open">File Upload</button>

    <% if (locals.folder.role === 'ROOT') { %>
      <div data-folder-role="<%= locals.folder.role %>">
        <span><%= locals.folder.name %></span>
      </div>
    <% } else { %>
      <nav>
        <% locals.parentFolders.forEach(parentFolder => { %>
          <span><a href="/dashboard/<%= parentFolder.id %>"><%= parentFolder.name %></a> / </span>
        <% }) %>
        <div class="dropdown folder-dropdown">
          <button class="folder-actions-toggle dropdown-toggle" data-folder-role="<%= locals.folder.role %>">
            <%= locals.folder.name %>
          </button>
          <div class="folder-actions dropdown-actions">
            <button class="folder-create-open">New Folder</button>
            <button class="file-upload-open">File Upload</button>
            <button class="folder-rename-open">Rename</button>
            <button class="folder-delete-open">Delete</button>
          </div>
        </div>
      </nav>
    <% } %>

    <ul class="folder-list">
      <% locals.folders.forEach(folder => { %>
        <li class="folder">
          <a href="/dashboard/<%= folder.id %>"><%= folder.name %></a>
          <div class="dropdown folder-dropdown">
            <button class="dropdown-toggle">actions</button>
            <div 
              class="folder-actions dropdown-actions" 
              data-folder-id="<%= folder.id %>" 
              data-folder-name="<%= folder.name %>"
            >
              <button class="folder-rename-open">Rename</button>
              <button class="folder-delete-open">Delete</button>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>

    <ul class="file-list">
      <% locals.files.forEach(file => { %>
        <li class="file">
          <p class="file-name"><%= file.name %></p>
          <div class="dropdown file-dropdown">
            <button class="dropdown-toggle">actions</button>
            <div 
              class="file-actions dropdown-actions" 
              data-name="<%= file.name %>" 
              data-size="<%= file.size %>" 
              data-uploaded-at="<%= file.uploadedAt %>"
              data-file-id="<%= file.id %>"
            >
              <a class="file-download" href="<%= file.path %>" download="<%= file.name %>">Download</a>
              <button class="file-rename-open">Rename</button>
              <button class="file-details-open">Details</button>
              <button class="file-delete-open">Delete</button>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
    
    <dialog class="folder-create">
      <h1>New Folder</h1>
      <form
        action="/dashboard/<%= locals.folder.id %>/folder-create"
        method="post"
      >
        <label for="folder-create-name">Name:</label>
        <input type="text" name="newFolderName" id="folder-create-name" required />
        <button type="reset" class="folder-create-close">Cancel</button>
        <button type="submit" class="folder-create-submit">Create Folder</button>
      </form>
    </dialog>
    
    <dialog class="file-upload">
      <h1>Upload File</h1>
      <form action="/dashboard/<%= locals.folder.id %>/file-upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" id="file" required>
        <button type="reset" class="file-upload-close">Cancel</button>
        <button type="submit" class="file-upload-submit">Upload File</button>
      </form>
    </dialog>

    <% if (locals.folder.role !== 'ROOT' || locals.folders.length > 0) { %>
      <dialog class="folder-rename">
        <h1>Rename</h1>
        <form action="/dashboard/<%= locals.folder.id %>/folder-rename" method="post" class="folder-rename">
          <label for="folder-rename">Name:</label>
          <input type="text" name="folderRename" id="folder-rename" required />
          <button type="reset" class="folder-rename-close">Cancel</button>
          <button type="submit" class="folder-rename-submit">Rename Folder</button>
        </form>
      </dialog>

      <dialog class="folder-delete">
        <h1>Delete Folder Confirmation</h1>
        <form action="/dashboard/<%= locals.folder.id %>/folder-delete" method="post" class="folder-delete">
          <h2>Are you sure you want to delete <span class="modal-info folder-name">FOLDER TITLE</span> folder?</h2>
          <h2>Doing so will delete all contents inside folder.</h2>
          <button type="button" class="folder-delete-close">Cancel</button>
          <button type="submit" class="folder-delte-submit">Delete</button>
        </form>
      </dialog>
    <% } %>
    
    <dialog class="file-details">
      <ul>
        <li><p class="modal-info file-name"></p></li>
        <li><p>Size</p><p class="modal-info file-size"></p></li>
        <li><p>Uploaded</p><p class="modal-info file-uploaded-at"></p></li>
        <button class="file-details-close">Close</button>
      </ul>
    </dialog>
    
  </body>
</html>
