<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= locals.title %></h1>
    <button class="new-folder-open">New Folder</button>
    <button class="file-upload-open">File Upload</button>
    <% if (locals.folder.role === 'ROOT') { %>
      <div data-folder-role="<%= locals.folder.role %>">
        <span><%= locals.folder.name %></span>
      </div>
    <% } else { %>
      <nav>
        <% locals.parentFolders.forEach(parentFolder => { %>
          <span><a href="/dashboard/<%= parentFolder.id %>"><%= parentFolder.name %></a> / </span>
        <% }) %>
        <div class="dropdown">
          <button class="folder-actions-toggle" data-folder-role="<%= locals.folder.role %>">
            <%= locals.folder.name %>
          </button>
          <div class="folder-actions">
            <button class="new-folder-open">New Folder</button>
            <button class="file-upload">File Upload</button>
            <button class="folder-rename-open">Rename</button>
            <button class="folder-delete-open">Delete</button>
          </div>
        </div>
      </nav>
    <% } %>
    <ul>
      <% locals.folders.forEach(folder => { %>
        <li><a href="/dashboard/<%= folder.id %>"><%= folder.name %></a></li>
      <% }) %>
    </ul>
    
    <dialog class="new-folder">
      <h1>New Folder</h1>
      <form
        action="/dashboard/<%= locals.folder.id %>/folder-create"
        method="post"
      >
        <label for="new-folder-name">Name:</label>
        <input type="text" name="newFolderName" id="new-folder-name" required />
        <button type="reset" class="new-folder-close">Cancel</button>
        <button type="submit" class="new-folder-submit">Create Folder</button>
      </form>
    </dialog>

    <% if (locals.folder.role !== 'ROOT') { %>
    <dialog class="folder-rename">
      <h1>Rename</h1>
      <form action="/dashboard/<%= locals.folder.id %>/folder-rename" method="post">
        <label for="folder-rename">Name:</label>
        <input type="text" name="folderRename" id="folder-rename" required />
        <button type="reset" class="folder-rename-close">Cancel</button>
        <button type="submit" class="folder-rename-submit">Rename Folder</button>
      </form>
    </dialog>

    
      <dialog class="folder-delete">
        <h1>Delete Folder Confirmation</h1>
        <form action="/dashboard/<%= locals.folder.id %>/folder-delete" method="post">
          <h2>Are you sure you want to delete folder <%= locals.folder.name %>?</h2>
          <h2>Doing so will delete folders and files inside this folder.</h2>
          <button type="button" class="folder-delete-close">Cancel</button>
          <button type="submit" class="folder-delte-submit">Delete</button>
        </form>
      </dialog>
    <% } %>
    
  </body>
</html>
