<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= locals.title %></h1>
    <button class="new-folder-open">New Folder</button>
    <nav>
      <% locals.parentFolders.forEach(parentFolder => { %>
        <span><a href="/dashboard/<%= parentFolder.id %>"><%= parentFolder.name %></a> / </span>
      <% }) %>
      <span><%= locals.folder.name %></span>
    </nav>
    <ul>
      <% locals.folders.forEach(folder => { %>
        <li><a href="/dashboard/<%= folder.id %>"><%= folder.name %></a></li>
      <% }) %>
    </ul>
    
    <dialog class="new-folder-dialog">
      <form
        action="/dashboard/<%= locals.folder.id %>/new-folder"
        method="post"
      >
        <label for="new-folder-name">Name:</label>
        <input type="text" name="newFolderName" id="new-folder-name" required />
        <button type="reset" class="new-folder-close">Close</button>
        <button type="submit" class="new-folder-submit">Create Folder</button>
      </form>
    </dialog>
  </body>
</html>
